html {
    background: url(http://i724.photobucket.com/albums/ww250/JBluver4ever123-/Backgrounds/41.jpg);
    background-size:  cover;
}

h1 {
    color: blue;
    font-size: 40px;
    padding-left: 10px;

}
h2{
    color: blue;
    padding-bottom: -20px;
    padding-left: 50px;
    font-size: 35px;
}

p{
    font-size: 24px;
    color: white;
    padding: 10px;
    text-indent: 20px;
    margin-top: 30px;
    line-height: 150%;
}